body {
    font-family: Arial, sans-serif;
    background-color: #292828;
    color: black;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #e4edff;
}

input, select {
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color:#dff3ff
}

h4 {
    color: #e4edff;
}

h1 {
    color: #e4edff;
}

h2 {
    color: #e4edff;
}

label {
    color: #e4edff;
}

input {
    background-color: rgb(18, 93, 232);
    color: #e4edff;
}